<div>
  <h1>I am goldenboy.</h1>
  <img style="width:600px;" src="goldenboy.jpg" alt="">
</div>
<div style="display: flex">
  <div style="flex: 1">
    <h3>Users</h3>
    <pre>
      {{#each users}}
        {{name}}
      {{/each}}
    </pre>
  </div>
  <div style="flex: 1">
    <h3>Channel</h3>
    <pre>
      {{#each channels}}
        {{name}}
      {{/each}}
    </pre>
  </div>
</div>
